<div class="bottom-information-div">
    <div class="logo-part-footer">
        <div class="footer-logo-div">
            <img src="/images/logo-black-background.jpg" class="footer-logo" />
        </div>
        <div class="pure-slogan">
            Earn yourself a place on the pantheon.  <br > The PURE PANTHEON
        </div>
    </div>
    <div class="support-part-footer">
        <div class="support-title">SUPPORT</div>
        <ul class="support-list">
            <li style="color:black;"><a href="/info/about-us" class="support-list-link">ABOUT US</a></li>
            <li><a href="/info/return-policy" class="support-list-link">RETURN POLICY</a></li>
            <li><a href="/info/faq" class="support-list-link">FAQ</a></li>
            <li><a href="/info/terms-conditions" class="support-list-link">TERMS AND CONDITIONS</a></li>
            <li><a href="/info/privacy-policy" class="support-list-link">PRIVACY POLICY</a></li>
        </ul>
    </div>
    <div class="follow-part-footer">
        <div class="follow-title">FOLLOW US</div>
        <div class="social-media-links">
            <a href="https://www.facebook.com/purepantheon/">
                <i class="fa fa-facebook-square fa-3x" style="padding-right:10px" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/PurePantheon">
                <i class="fa fa-twitter-square fa-3x" style="padding-right:10px" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/purepantheon/">
                <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>