<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default button-group" id="left-button">Left</button>
    <button type="button" class="btn btn-default button-group" id="middle-button">Middle</button>
    <button type="button" class="btn btn-default button-group" id="right-button">Right</button>
</div>