<div class="index-bottom-information-div">
    <div class="index-logo-part-footer">
        <div class="index-footer-logo-div">
            <img src="/images/white-logo-red.jpg" class="index-footer-logo" />
        </div>
        <div class="index-pure-slogan">
            Earn yourself a place on the pantheon.  <br > The PURE PANTHEON
        </div>
    </div>
    <div class="index-support-part-footer">
        <div class="index-support-title">SUPPORT</div>
        <ul class="index-support-list">
            <li><a href="/info/about-us" class="index-support-list-link">ABOUT US</a></li>
            <li><a href="/info/return-policy" class="index-support-list-link">RETURN POLICY</a></li>
            <li><a href="/info/faq" class="index-support-list-link">FAQ</a></li>
            <li><a href="/info/terms-conditions" class="index-support-list-link">TERMS AND CONDITIONS</a></li>
            <li><a href="/info/privacy-policy" class="index-support-list-link">PRIVACY POLICY</a></li>
        </ul>
    </div>
    <div class="index-follow-part-footer">
        <div class="index-follow-title">FOLLOW US</div>
        <div class="index-social-media-links">
            <a href="https://www.facebook.com/purepantheon/">
                <i class="fa fa-facebook-square fa-3x index-links" style="padding-right:10px" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/PurePantheon">
                <i class="fa fa-twitter-square fa-3x index-links" style="padding-right:10px" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/purepantheon/">
                <i class="fa fa-instagram fa-3x index-links" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>