<div class="page-directory">
    <a href="/">
        <button class="page-directory-button" id="home">
            <i class="fa fa-home fa-4x icon" aria-hidden="true"></i>
            <div class="page-directory-button-text" id="home-text">Home</div>
        </button>
    </a>
    <a href="/main/supplement/">
        <button class="page-directory-button" id="supplement">
            <i class="fa fa-sitemap fa-4x icon" aria-hidden="true"></i>
            <div class="page-directory-button-text" id="supplement-text">Supplement Directory</div>
        </button>
    </a>
    <a href="/enhancement/enhancement/">
        <button class="page-directory-button" id="enhancement">
            <i class="fa fa-question fa-4x icon" aria-hidden="true"></i>
            <div class="page-directory-button-text" id="enhancement-text">Enhancement Info</div>
        </button>
    </a>
    <a href="/vlad/vlad-stories/">
        <button class="page-directory-button" id="stories">
            <i class="fa fa-book fa-4x icon" aria-hidden="true"></i>
            <div class="page-directory-button-text" id="stories-text">Stories</div>
        </button>
    </a>
    <a href="/main/forum/">
        <button class="page-directory-button" id="forum">
            <i class="fa fa-comments fa-4x icon" aria-hidden="true"></i>
            <div class="page-directory-button-text" id="forum-text">Forum</div>
        </button>
    </a>
</div>

