<div class="about-us-body">
    <h2><strong>About Us</strong></h2>
    Founded in 2017, Pure Pantheon was created with the thought of pushing the limits in mind. Whether it be our focus enhancing, performance increasing pre-workout supplements or, in the near future, sleek, smooth, and visually stunning activewear, you can count on Pure Pantheon to help you push your workouts to Herculean status.
    <br /> <br />
    Pure Pantheon draws inspiration from ancient aesthetic ideals and believes they can be used to lay a framework for a more beautiful, strong, and powerful future. That a man is not simply what he is born as, or how he appears in his current form, but rather what he forges himself into. This mindset can be applied to every endeavor a person undertakes, whether it be building a new, powerful, aesthetic physique or creating an intellectual, revolutionary product. Our philosophy can be applied to all walks of life.
    <br/> <br />
    Fitness and personal improvement doesn’t have to be all work and no play though. Our brand believes it’s good, crucial even, to have a little fun which is why we’re proud to create quality content and entertainment perfect for browsing through at any time, especially after killing it at the gym.
    <br /> <br />
    Are you content with being an everyday mere mortal? Or do you want something more? To go even further beyond? Pure Pantheon challenges you to release your full potential and become the legend that others look up to.
    <br /> <br />
    Become a god of your own. Earn yourself a place on the pantheon. The Pure Pantheon.
</div>