<div class="faq-body">
    <h2><strong>FAQ</strong></h2>
    <strong>What payment options are there?</strong> <br />
    We accept all major Credit or Debit cars including Visa, MasterCard, American Express, etc. Unfortunately, at this time, we do not accept PayPal though we are certain to add it as a payment option as we expand in the future. Sorry for any inconvenience this can cause.
    <br />
    <strong>When do you ship and when can I expect my order?</strong> <br />
    We typically ship Monday – Friday and process all orders within 5 days of order placement. All orders should be received within 14 business days of placement.
    <br />
    <strong>What type of shipping is offered?</strong> <br />
    We only offer standard shipping, at this time, through either UPS or USPS. The flat $7 shipping fee is required with all purchases.
    <br />
    <strong>I live outside of the United States. Can I still purchase your products?</strong> <br />
    Unfortunately, our products are only delivered within the continental United States and thus are not available for purchase elsewhere. As we are a growing company, we will certainly pursue international markets, in the hopefully near future, as we continue to expand.
    <br />
    <strong>What is your Return Policy?</strong> <br />
    Please refer to our <a href=/info/return-policy>Return Policy</a> page for more information on the subject.
    <br />
    <strong>My item was damaged once I received it?</strong> <br />
    Please refer to our <a href=/info/return-policy>Return Policy</a> page for more information on the subject.
    <br />
    <strong>I didn’t get what I ordered?</strong> <br />
    On the exceptionally rare chance that we ship you anything other than what you wanted, email us within 3 days (72 hours). We will ship you the correct product as soon as possible or issue you a refund.
    <br />
    <strong>Am I able to change my shipping address after placing my order?</strong> <br />
    Once an order is placed, the shipping address you provided during order placement is generally set in stone. For this reason, we encourage you to make sure the shipping details you provide during checkout are correct and up to date. If your order hasn’t shipped yet you may send us an email at support@purepantheon.com so that we may attempt to fix the information.
    <br />
    Once the order has been shipped, we will not be able to fix any incomplete or incorrect information
    <br />
    <strong>What happens if you ship to an incorrect or incomplete address I provided?</strong> <br />
    If a package is sent back to Pure Pantheon due to incorrect or incomplete shipping information we will issue a refund for the returned product(s). Pure Pantheon is not responsible for packages delivered incorrectly or lost due to incorrect or incomplete shipping information provided by the customer. It is your responsibility to make sure that the shipping information you provide is accurate and up to date.
</div>
