<div class="privacy-policy-body">
    <h2><strong>Privacy Policy</strong></h2>
    We at Pure Pantheon LLC are committed to delivering the best service whenever possible, whether it relates to you enjoying one of our products, entertaining yourself on any number of our works of content, or consuming and participating in any other goods or services we may offer. With this thought in mind we are proud to say that just as we strive to maximize your user and customer experience in regards to these endeavors, so too are we committed to protecting your personal information, whether it be sensitive or otherwise. We realize that you care about your privacy and the ways in which your personal information is used and collected, and encourage you to read through our Privacy Policy and inform yourself on our policies and practices.
    <br />
    <strong>WHAT INFORMATION WE COLLECT</strong> <br />
    The information we collect though our website (“www.purepantheon.com”) may include:
    <ol>
        <li>The personal details that you may provide when you make a purchase or create an account. This includes your name, address, email, etc.</li>
        <li>IP (Internet Protocol) addresses and other information that is automatically gathered by our web server and stored in log files.</li>
        <ul>
            <li>IP Address – Unique identification number assigned to your computer. Each computer has its own unique IP address. - These are automatically logged by our servers and are used to track interest in our website.</li>
        </ul>
    </ol>
    We use cookies on our website to ensure an enjoyable site experience. A cookie is a small text file that is sent to and stored on a user’s computer for record-keeping purposes. You can normally block new cookies, disable cookies, and get notified before accepting any cookies by going to the “Help” page file of your web browser and following the relevant instructions.
    <br/>
    All information we collect is used to maintain our records and to help in processing and fulfilling your order.
    <br />
    We do not store credit card details.
    <br />
    <strong>HOW YOUR INFORMATION IS USED</strong> <br />
    Any data and information we collect will be used for any of the following reasons:
    <ol>
        <li>PROCESS YOUR ORDER(S) AND MAINTAIN OUR RECORDS</li>
            <ul>
                <li>
                    This includes sending relevant data to secure transaction processors in order to verify the legitimacy of the information you entered and run security checks that helps protect you and us from fraudulent transactions.
                </li>
            </ul>
        <li>COMPLY WITH LEGAL REQUIREMENTS</li>
            <ul>
                <li>
                    In rare and infrequent circumstances, we may disclose your information, as necessary, if requested to by any official law enforcement inquiries, in order to comply with state and federal laws and regulations.
                </li>
            </ul>
    </ol>
    Note that in the unlikely event that Pure Pantheon LLC, purepantheon.com, or any of its subsidiaries, are sold or acquired, any customer information collected will be part of the transferred assets.
    <br/>
    <strong>WHEN YOU MAKE A PURCHASE</strong> <br/>
    When you place an order through our site for any of our products, the credit card details you enter are not stored by us. Instead, we use Stripe, one of the most secure online transaction processors in the world. Your data is sent to Stripe’s secure data storage and placed behind extensive security measures and protocols to keep it safe. Insert information about stripe. For more information, we encourage you to read Stripe’s <a href="https://stripe.com/ca/privacy">Privacy Policy</a> to fully understand how your data and information is handled.
    <br />
    <strong>CHANGES TO THIS PRIVACY POLICY</strong> <br />
    We encourage you to review our Privacy Policy frequently, as we reserve the right to modify it at any time. Any modifications made take effect immediately upon being posted on our website.
    <br />
    <strong>AGE OF CONSENT</strong> <br />
    By using our website, you acknowledge to be of legal adult age in your state, province, or country of residence.
    <br />
    <strong>LINKS AND OTHER SITES</strong> <br />
    Our site may contain links to other sites. Please be aware that Pure Pantheon LLC is not responsible for the Privacy Policies of any other sites aside from our own. Therefore, we recommend all customers and any users on our site to read up on the Privacy Policies of every site they frequent that collects personal data and information.
    <br />
    <strong>QUESTIONS AND CONTACT INFORMATION</strong> <br />
    For any questions or concerns regarding our Privacy Policy, please e-mail us at support@purepantheon.com.
</div>