<div class="return-policy">
    <h2><strong>Returns and Refunds</strong></h2>
    <strong>Returns</strong> <br />
    We accept all unopened, untampered with, and undamaged product(s) in their original packaging within 30 days of placing the order. If the product(s) sent back to us does not meet these specifications we reserve the right to send it back to you with no refund given. Shipping costs are non-refundable.
    <br /> <br />
    We recommend you contact us in advance before returning any item. Before returning a product, please write down the reason for your return on a piece of paper and leave that paper in the box. All shipments come with an order number inside the package. Leave the order number in the box if you return any of our products, as without it we may not be able to verify your return and issue a refund. If you have lost or misplaced this document, please write down the order number on the same piece of paper used to write down your reason for the return.
    <br /> <br />
    If your return follows our guidelines and the item is in its original, unopened, condition, as stated above, you will be refunded for the appropriate amount, not including shipping and handling.
    <br /> <br />
    Refunds will not be given until the item is returned to us and in our hands.
    <br /> <br />
    <strong>Damaged Orders</strong> <br />
    Though we package all orders with great care and caution sometimes products can be damaged by the shipper while in route to your address due to reasons outside of our control, which we cannot be held responsible for.
    <br /> <br />
    If your order arrives damaged, notify us within 3 days (72 hours) of receiving your order by emailing us a photo of the damaged item.
    <br /> <br />
    We will file a claim with the shipper responsible. Remember to keep all materials that were shipped including the box, packaging, and products inside.
    <br /> <br />
    We will send a replacement as soon as possible or, if none is available, will issue an appropriate refund.
    <br /> <br />
    <i>Notice: We do not offer refunds on any orders purchased during a sale or special promotion</i>
</div>

