/* Privacy Policy */

.privacy-policy-body, .terms-conditions-body, .return-policy, .faq-body, .about-us-body {
    width:70%;
    height:auto;
    margin:0 auto;
}

/* Terms and Conditions */

.terms-conditions-body {

}

.return-policy {

}

.faq-body {

}

.about-us-body {

}