<div class="outer">
    {{#if title}}
        <div class="comic-inner">
            <div id="comic-title">{{title}}</div>
            <img id="comic-display-comic" src="{{image}}">
        </div>
    {{else}}
        Nothing found
    {{/if}}
</div>