<div class="outer">
    {{#if title}}
        <h1 id="inner-title" style="font-weight:bold">{{title}}</h1>
        <div id="inner">{{this.content}}</div>
    {{else}}
        <h1 style="font-weight:bold">Nothing Here!</h1>
    {{/if}}
</div>