<div id="submit-article-wrapper">
    <form action="/enhancement/complete-article" method="POST">
        <div id="submit-article-title-div">
            <h3>Article Title</h3>
            <textarea id="submit-article-title" rows="1" name="articleTitle"> </textarea>
        </div>

        <div id="submit-article-description-div">
            <h3>Article Description</h3>
            <textarea id="submit-article-description" rows="1" name="articleDescription"> </textarea>
        </div>

        <div id="submit-article-content-div">
            <h3>Article Content</h3>
            <textarea rows="30" id="submit-article-content" name="articleContent"></textarea> <br>
        </div>

        <div id="submit-article-comment-div">
            <input type="checkbox" name="disallowComments" /> Disallow Comments <i>(If the checkbox is not clicked, comments will be allowed to be posted on this article by default)</i>
            <br /> <br />
            <button>Go to Image Page</button>
        </div>

    </form>
</div>
