<form action="/enhancement/submit-image" method="POST" enctype="multipart/form-data">
    <h3>Article Image</h3>
    <input type="file" name="articleImage">
    <button>Submit Article</button>
</form>